<% content_for :title, "Showing registration" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Showing registration</h1>

  <%= render @registration %>

  <div class="flex flex-wrap gap-2">
    <%= link_to "Edit this registration", edit_group_event_registration_path(@group, @event, @registration), class: "btn btn-ghost" %>
    <%= link_to "Back to registrations", group_event_registrations_path(@group, @event), class: "btn btn-ghost" %>
    <%= button_to "Destroy this registration", group_event_registration_path(@group, @event, @registration), method: :delete, class: "btn btn-error", data: { turbo_confirm: "Are you sure?" } %>
  </div>
</div>
