<% if object.errors.any? %>
  <div id="error_explanation" role="alert" class="alert alert-error alert-vertical mt-3">
    <h2>Oops! Something went wrong. Please correct the following <%= pluralize(object.errors.count, "error") %>:</h2>

    <ul class="list-disc ml-6">
      <% object.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
