<%= form_with(model: address, class: "contents") do |form| %>
  <%= render "shared/errors", object: address %>

  <fieldset class="fieldset">
    <legend class="fieldset-legend">Address details</legend>

    <%= render "form_fields", form: form %>
  </fieldset>

  <div class="inline">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
