<% content_for :title, "Editing address" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing address</h1>

  <%= render "form", address: @address %>

  <div class="flex flex-wrap gap-2">
    <%= link_to "Show this address", address_path(@address), class: "btn btn-ghost" %>
    <%= link_to "Back to addresses", addresses_path, class: "btn btn-ghost" %>
  </div>
</div>
