<nav>
  <ul>
    <li>
      <%= link_to "Home", root_path %>
    </li>
    <li>
      <%= authenticated? ? button_to("Log out", session_path, method: :delete) : link_to("Log in", new_session_path) %>
    </li>
  </ul>
</nav>
