<% content_for :title, "Showing member" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Showing member</h1>

  <%= render @member %>

  <div class="flex flex-wrap gap-2">
    <%= link_to "Edit this member", edit_group_member_path(@group, @member), class: "btn btn-ghost" %>
    <%= link_to "Back to members", group_members_path(@group), class: "btn btn-ghost" %>
    <%= button_to "Destroy this member", group_member_path(@group, @member), method: :delete, class: "btn btn-error", data: { turbo_confirm: "Are you sure?" } %>
  </div>
</div>
